.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the wrapper takes at least the full viewport height */
  }
  
  app-footer {
    margin-top: auto; /* Push the footer to the bottom */
  }
  